#navBar{
    background-color: gray;
    display: grid;
    grid-template-columns: 30% 70%;
}

#navList{
    list-style: none;
}

#navList>li{
    display: inline-block;
    font-size: 25px;
    margin-right: 50px;
}

#logo{
    width: 77px;
    border-radius: 100px;
}

#logo:hover{
    width: 200px;
}

.link{
    text-decoration: none;
    color: white;
}

.active{
    color: green;
}

.link:hover{
    color: red;
}


#Testp{
    color: aqua;
    background-color: black;
    padding: 10px;
    margin: 50px;
    border: 10px gray solid;
}

#button{
    color: blue;
    background-color: cyan;
    margin: 10px;
    width: 70px;
    height: 40px;
    border: 5px black solid;
}

#FirstDiv>h1{
    color: blue;
}

#SecoundDiv>h1{
    color: green;
}

#Contener{
    text-align: center;    
    background-color: aquamarine;
}

.NewCinter{
    display: inline-block;
    width: 30%;
}
