#navBar{
    background-color: gray;
    display: grid;
    grid-template-columns: 30% 70%;
}

#navList{
    list-style: none;
}

#navList>li{
    display: inline-block;
    font-size: 25px;
    margin-right: 50px;
}

#logo{
    width: 77px;
    border-radius: 100px;
}

#logo:hover{
    width: 200px;
}

.link{
    text-decoration: none;
    color: white;
}

.active{
    color: green;
}

.link:hover{
    color: red;
}



